EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_CRASH_REPORTING_ENABLED=false
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_ANALYTICS_ENABLED=false
EXPO_PUBLIC_ANALYTICS_ENDPOINT=
EXPO_PUBLIC_ANALYTICS_DEBUG=false
